.justify-content- {
  &center {
    justify-content: center;
  }

  &between {
    justify-content: space-between;
  }
}

.align-items- {
  &center {
    align-items: center;
  }

  &end {
    align-items: flex-end;
  }
}

.flex- {
  &column {
    flex-direction: column;
  }
}

@include pad {
  .align-items- {
    &md- {
      &center {
        align-items: center;
      }
    }
  }

  .flex- {
    &md- {
      &column {
        flex-direction: column;
      }
    }
  }
}

@include mobile {
  .align-items- {
    &sm- {
      &start {
        align-items: start;
      }
    }
  }

  .flex- {
    &sm- {
      &column {
        flex-direction: column;
      }
    }
  }
}