.logo {
  background: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png) no-repeat center / contain;
  width: 80px;
  height: 48px;
  @include picture-replace;
}